services:
  backend:
    build: ./server
    ports: 
      - "3012:3001"
    env_file:
      - ./server/config/shared.env
      - ./server/config/docker_local.env
    volumes:
      - ./server:/app
    depends_on:
      - postgres

  postgres:
    image: postgres
    ports:
      - "5436:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: oh_my_cloud
    
  frontend:
    build: ./client