services:
  backend:
    build: ./server
    ports: 
      - "3012:3001"
    # env_file:
    #   - ./server/config/shared.env
    #   - ./server/config/docker_local.env
    volumes:
      - ./server:/app #$ Deliberately also included  everything outside src for more flexibility.
      - /app/temp
    depends_on:
      - postgres
    command: sh -c "DEV=False ENVIRONMENT=docker_local python3 ./src/main.py"

  postgres:
    image: postgres
    ports:
      - "5436:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: oh_my_cloud
    
  frontend:
    build: ./client
    ports:
      - "3013:3000"
    volumes:
      - ./client:/app #$ Deliberately also included  everything outside src for more flexibility. Also removed ":ro" for NextJS being able to  write to the .next directory on development mode.
      - /app/.next #$ Preventing local ".next/" build to be mirrored in the container. It was giving me issues with env vars that were set in the local build also being set in the container.
    depends_on:
      - backend
    command: "npm run start-docker-local" #$ This command replaces the "CMD" in the "dockerfile".