services:
  backend:
    build: ./server
    ports: 
      - "3012:3001"
    env_file:
      - ./server/config/shared.env
      - ./server/config/docker_local.env
    volumes:
      - ./server:/app:ro #$ Deliberately also included  everything outside src for more flexibility.
      - 
    depends_on:
      - postgres

  postgres:
    image: postgres
    ports:
      - "5436:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: oh_my_cloud
    
  frontend:
    build: ./client
    ports:
      - "3013:3000"
    volumes:
      - ./client:/app #$ Deliberately also included  everything outside src for more flexibility. Also removed ":ro" for NextJS being able to  write to the .next directory on development mode.
    depends_on:
      - backend
    command: "npm run dev-docker-local"

    