services:
  backend:
    build: .
    ports: 
      - "3012:3001"
    env_file:
      - ./config/shared.env
      - ./config/docker.env
    volumes:
      - .:/app
    depends_on:
      - postgres_service

  postgres_service:
    image: postgres
    ports:
      - "5436:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: oh_my_cloud